<!DOCTYPE html>
<html>
<head>
  <title>
    <%= @title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

  <%= csrf_meta_tags %>
</head>
<body id='<%= params[:controller] %>' class='<%= params[:action] %>'>
  <div class='jumbotron'>
	  <div class='container'>
	    <h1>
	  	    <%= @headTitle %>
	    </h1>
	    <%= yield %>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://code.jquery.com/jquery.js"></script>

	    <!-- Latest compiled and minified JavaScript -->
	    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
	  </div>
  </div>
</body>
</html>
